:root {
    --bs-primary: #2196F3;
    --bs-secondary: #00BFFF;
  }

 body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;}

  .bg-primary, .btn-primary{background-color: var(--bs-primary) !important;}

  .text-primary {color: var(--bs-primary) !important;}

  .bg-secondary {background-color: var(--bs-secondary) !important;}

  .text-secondary {color: var(--bs-secondary) !important;}


/* General custom button style */
.btn-success, .btn-primary{border-radius: 2rem !important;box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.25); padding-left: 15px;padding-right: 15px;border: none;}
.btn-outline-danger,.btn-outline-dark{border-radius: 2rem !important; padding-left: 15px;padding-right: 15px;}
.btn-outline-secondary{border-radius: 2rem; padding-left: 15px;padding-right: 15px;}



